<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <span><address><em>Alexander von Humboldt Research Fellow</em></address> <time>2018 to 2020</time> </span> 
        </header>
        <header>
            <span><address><em>Alfred P. Sloan Fellow</em></address> <time>2017 to 2019</time> </span> 
        </header>
        <header>
            <span><address><em>Hubble Fellow</em></address> <time>2013 to 2016</time> </span> 
        </header>
        <header>
            <span><address><em>Doctoral Dissertation Fellow</em></address> <time>2009 to 2010</time> </span> 
        </header>
        <header>
            <span><address><em>Russell Penrose Fellow</em></address> <time>2004 to 2006</time> </span> 
        </header>
       
    </article>
</section>