<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Astrophysics</h1>
            <span>University of Minnesota</span>
            <span><address>Minneapolis, MN</address><time>2004 to 2010</time></span>
        </header>
         <header>
        <span>Advisor: Evan Skillman</span>
    </header>
        <p>
            <em>Thesis: The History of Star Formation in Nearby Dwarf Galaxies</em>
        </p>

    </article>
    <article>
        <header>
            <h1>BA in Physics and Astrophysics</h1>
            <span>University of California, Berkeley</span>
            <span><address>Berkeley, CA</address><time>2000 to 2004</time></span>
        </header>
        </p>
    </article>
</section>
