<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Assistant Professor of Astronomy</h1>
            <span>University of California, Berkeley</span>
            <span><address>Berkeley, CA</address><time>July 2016 to</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Hubble Fellow</h1>
            <span>University of Washington</span>
            <span><address>Seattle, WA</address><time>2014 to 2016</time></span>
            <h1></h1>
             <span>University of California, Santa Cruz</span>
            <span><address>Santa Cruz, CA</address><time>2013 to 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Postdoctoral Researcher</h1>
            <span>University of Washington</span>
            <span><address>Seattle, WA</address><time>2010 to 2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Summer Visiting Researcher</h1>
            <span>Max Planck Institue for Astronomie</span>
            <span><address>Heidelberg, Germany</address><time>2011 to 2015</time></span>
        </header>
    </article>
</section>
