<section class="thirteen columns">
    <h1>Research Interests</h1>
    <article>
        <header>
            <h1>Resolved Stellar Populations</h1>
            <span>High-Angular Resolution Imaging, HST, JWST, Crowded Field Photometry, Astrometry</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Galaxy Evolution</h1>
            <span>The Local Group, Dwarf Galaxies, Star Formation Histories, Chemical Evolution</span>
            <h1></h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Star Formation</h1>
            <span>The Initial Mass Function, Stellar Feedback and the ISM, Star Clusters</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Stellar Evolution</h1>
            <span>Stellar Ages and Chemistry, Stellar Spetroscopy, Post-Main Sequence Evolution</span>
        </header>
    </article>
</section>
