<section class="thirteen columns">
    <h1>Programs and Grants</h1>
    <article>
        
        <header>
            <p>SMC B1 #1 is the New Perseus <em> ALMA </em><time>2015.1.01125.S; PI: K. Sandstrom</time></p>
        </header>

        <header>
            <p>A Suite of Simulated Dwarf Galaxies to Interpret Observations<em> HST </em><time>AR-14281; PI: A. Brooks</time></p>
        </header>

        <header>
            <p>The Star Formation History and Proper Motion of NGC 6822<em> HST </em><time>GO-14191; PI: A. Cole</time></p>
        </header>

        <header>
            <p>The Evolution of Metal-rich Asymptotic Giant Branch Stars<em> HST </em><time>GO-14072; PI: M. Boyer</time></p>
        </header>

       <header>
            <p>Measuring the High-Mass Initial Mass Function<em> XSEDE </em><time>729k SUs; <em>PI: D. Weisz</em></time></p>
        </header>
       
       <header>
            <p>The Star Formation History of M31<em> XSEDE </em><time>980k SUs; PI: J. Dalcanton</time></p>
        </header>

        <header>
            <p>A Spectroscopic Investigation of the IMF<em> XSEDE </em><time>100k SUs; <em>PI: D. Weisz</em></time></p>
        </header>

        <header>
            <p>Completing the Census of Isolated Dwarf Galaxies<em> HST </em><time>GO-13768; <em>PI: D. Weisz</em></time></p>
        </header>

        <header>
            <p>Crater: The Milky Way's Smallest Satellite or Largest Globular Cluster?<em> HST </em><time>GO-13746; PI: M. Walker</time></p>
        </header>

        <header>
            <p>Interpreting Resolved Stellar Populations in Local Group Dwarfs<em> HST </em><time>AR-13925; PI: M. Teyssier</time></p>
        </header>

        <header>
            <p>Is the First Epoch of Star Formation in Satellite Galaxies Universal - Part II<em> HST </em><time>GO-13739; PI: E. Skillman</time></p>
        </header>

        <header>
            <p>The Fellowship of the Andromeda Dwarf Galaxies<em> HST </em><time>GO-13699; PI: N. Martin</time></p>
        </header>

        <header>
            <p>The First Maps of SMC Extinction Curves<em> HST </em><time>GO-GO-13659; PI: K. Sandstrom</time></p>
        </header>

        <header>
            <p>Star Formation Histories of Dwarf Galaxies: Keys to Galaxy Formation and Dark Matter<em> HST </em><time>AR-13888; PI: M. Boylan-Kolchin</time></p>
        </header>

        <header>
            <p>Star Formation and Quenching in Local Group Satellites<em> HST </em><time>AR-13896; PI: A. Benson</time></p>
        </header>

         <header>
            <p>The High-Mass IMF in NGC 628<em> Keck </em><time>1 night; PI: C. Conroy</time></p>
        </header>

        <header>
            <p>A Chandra Legacy Survey of the Disk of M31<em> Chandra </em><time>300ks; PI: B. Williams</time></p>
        </header>

        <header>
            <p>Dissecting the UV Light of M31<em> Keck </em><time>2 nights; PI: P. Guhathakurta</time></p>
        </header>

        <header>
            <p>Surveying M31's Brighest Stars<em> LBT </em><time>2 nights; PI: M. Collins</time></p>
        </header>

        <header>
            <p>The Star Formation History of Andromeda<em> XSEDE </em><time>950k SUs; PI: J. Dalcanton</time></p>
        </header>

        <header>
            <p>The Definitive L-band Map of M31<em> VLA </em><time>52 hours; PI: A. Leroy</time></p>
        </header>

        <header>
            <p>A Search for Surviving Companions of Type Ia Supernovae in the LMC<em> HST </em><time>GO-13282; PI: Y. Chu</time></p>
        </header>

        <header>
            <p>Probing Isolated Massive Star Formation in the LMC<em> HST </em><time>GO-12941; PI: I. Stephens</time></p>
        </header>

        <header>
            <p>Measuring Ancient Star Formation Hisotires of the Magellanic Clouds<em> HST </em><time>GO-12853; <em>PI: D. Weisz</em></time></p>
        </header>

        <header>
            <p>The Dynamically and Chemically Peculiar Galaxy Leo A<em> Keck </em><time>2 nights; PI: E. Kirby</time></p>
        </header>

        <header>
            <p>Is the First Epoch of Star Formation in Satellite Galaxies Universal?<em> HST </em><time>GO-13028; PI: E. Skillman</time></p>
        </header>

        <header>
            <p>Splendid Isolation: Using DDO 210 to Benchmark Dwarf Galaxy Evolution<em> HST </em><time>GO-12925; PI: A. Cole</time></p>
        </header>

        <header>
            <p>Towards Identifying Carbon Stars Beyond the Local Group<em> HST </em><time>GO-12862; PI: M. Boyer</time></p>
        </header>

        <header>
            <p>Measuring the Star Formation History of Omega Centauri<em> HST </em><time>AR-12622; <em>PI: D. Weisz</em></time></p>
        </header>

        <header>
            <p>The Chandra Local Volume Survey<em> Chandra </em><time>165ks; PI: B. Williams</time></p>
        </header>

        <header>
            <p>The Holistic Evolution of Dwarf Galaxies: Internal and External Processes in NGC6822<em> HST </em><time>GO-12180; PI: J. Cannon</time></p>
        </header>

        <header>
            <p>Placing Observational Constraints on Massive Star Models<em> HST </em><time>AR-12619; PI: P. Rosenfield</time></p>
        </header>

        <header>
            <p>How Common are Runaway O-stars in the Andromeda Galaxy?<em> LBT </em><time>0.5 nights; PI: H-W. Rix</time></p>
        </header>

        <header>
            <p>Cloud-Scale HI Imaging of the Whole Disk of M31<em> VLA </em><time>56 hours; PI: A. Leroy</time></p>
        </header>

        <header>
            <p>A Complete and Deep Continuum Survey of M31<em> VLA </em><time>33 hours; PI: A. Leroy</time></p>
        </header>

        <header>
            <p>Molecular Cloud Census in the Andromeda Galaxy II.<em> CARMA </em><time>151 hours; PI: A. Schruba</time></p>
        </header>

        <header>
            <p>Molecular Cloud Census in the Andromeda Galaxy I.<em> CARMA </em><time>121 hours; PI: A. Schruba</time></p>
        </header>

        <header>
            <p>Combining CAMRA and HST to Measure GMC Lifetimes and Feedback in M31<em> CARMA </em><time>48 hours; PI: A. Leroy</time></p>
        </header>

        <header>
            <p>The Panchromatic Hubble Andromeda Treasury<em> HST </em><time>GO-12055; PI: J. Dalcanton</time></p>
        </header>

        <header>
            <p>The HST U-band Survey of Star Clusters in Nearby Star-Forming Galaxies<em> HST </em><time>GO-12229; PI: L. Smith</time></p>
        </header>

        <header>
            <p>The ACS Nearby Galaxy Survey Treasury: Reduce, Reuse, Recycle<em> HST </em><time>AR-10945; PI: J. Dalcanton</time></p>
        </header>

        <header>
            <p>The Local Volume Legacy Survey<em> Spitzer </em><time>40204; PI: J. Lee</time></p>
        </header>

        <header>
            <p>The Durations of Starbursts in Blue Compact Galaxies<em> HST </em><time>AR-11281; PI: E. Skillman</time></p>
        </header>

        <header>
            <p>Star-Formation History of an Unmerged Fragment: the Leo A Dwarf Galaxy<em> HST </em><time>GO-10590; PI: A. Cole</time></p>
        </header>

        <header>
            <p>The Onset of Star Formation in the Universe: Constraints from Nearby Isolated Dwarf Galaxies<em> HST </em><time>GO-10505; PI: C. Gallart</time></p>
        </header>

        <header>
            <p>Quantifying Star Formation and Feedback: The M81 Group Dwarf Galaxies<em> HST </em><time>GO-10605; PI: E. Skillman</time></p>
        </header>

        <header>
            <p>The Star Formation Histories of Local Group Galaxies<em> HST </em><time>AR-9521; PI: A. Dolphin</time></p>
        </header>

       
    </article>
</section>