<section class="thirteen columns">
    <h1>Recent Talks</h1>
    <article>
        
        <header>
            <p><em>Star Formation Histories from Resolved Stellar Populations </em></p><span>GMT Science Conference; Monterey, CA; Oct 2015</span>
        </header>

        <header>
            <p><em>How the IMF Taught me About Flexible Noise Models</em></p><span>MPIA Galaxy Coffee; MPIA: Heidelberg, DE; August 2015</span>
        </header>

        <header>
            <p><em>The Local Group as a Time Machine</em></p><span>#LGAstat; Univeresity of Michigan; Ann Arbor, MI; June 2015</span>
        </header>

        <header>
            <p><em>Quenching Star Formation in the Lowest-Mass Galaxies</em></p><span>The Life and Death of Satellite Galaxies; The Lorentz Center; Lieden, NL; April 2015</span>
        </header>

        <header>
            <p><em>Galaxy Evolution in the Resolved Universe</em></p><span>Colloquim; UC Berkeley; Berkeley, CA; March 2015</span>
        </header>

        <header>
            <p><em>Galaxy Evolution in the Resolved Universe</em></p><span>Colloquim; UC Riverside; Riverside, CA; March 2015</span>
        </header>

        <header>
            <p><em>The High-Mass IMF in M31</em></p><span>The Milky Way and Its Stars; KITP; Santa Barbara, CA; February 2015</span>
        </header>

        <header>
            <p><em>The Star Formation Histories of the Lowest-Mass Galaxies</em></p><span>Hubble Fellow Symposium; STScI; Baltimore, MD; March 2015</span>
        </header>

        <header>
            <p><em>The High-Mass Stellar IMF in M31</em></p><span>Amreican Astronomical Society Meeting; Seattle, WA; January 2015</span>
        </header>

        <header>
            <p><em>WFIRST: Milky Way & Local Group Science</em></p><span>Wide-field Infrared Surveys: Science and Techniques; CalTech; Pasadena, CA; November 2014</span>
        </header>

        <header>
            <p><em>The Very Faint End of the UV Luminosity Function: Constraints from the Local Group Fossil Record</em></p><span>ITC Lunch; Harvard; Cambridge, MA; November 2014</span>
        </header>

        <header>
            <p><em>The Life and Times of Low-mass Galaxies</em></p><span>OIR Seminar; Harvard; Cambridge, MA; November 2014</span>
        </header>

        <header>
            <p><em>The Extended Star Star Formation Histories of Andromeda II and XVI</em></p><span>Thinkshop: Dwarfs and Satellite Galaxies; University of Potsdam; Potsdam, DE; August 2014</span>
        </header>

        <header>
            <p><em>The Very Faint End of the UV Luminosity Function: Constraints from the Local Group Fossil Record</em></p><span>Galaxy Lunch Talk; University of Strasbourg; Strasbourg, FR; August 2014</span>
        </header>

        <header>
            <p><em>The Life and Times of Low-mass Galaxies</em></p><span>Koenigstuhl Colloquium; MPIA; Heidelberg, DE; July 2014</span>
        </header>

        <header>
            <p><em>Blackboard Lecture on Stellar Evolution</em></p><span>Aspen Dwarf Galaxy Workshop; Aspen Center for Physics; Aspen, CO; June 2014</span>
        </header>

        <header>
            <p><em>Star Formation Histories of Local Group Galaxies</em></p><span>Colloquium; University of Minnesota; Minneapolis, MN; May 2014</span>
        </header>

        <header>
            <p><em>Star Formation Histories of Local Group Galaxies</em></p><span>Colloquium; University of Minnesota; UIUC, Urbana-Champaign, IL, April 2014</span>
        </header>

        <header>
            <p><em>Measuring the High Mass Stellar IMF</em></p><span>Hubble Fellow Symposium; STScI; Baltimore, MD; March 20</span>
        </header>

        <header>
            <p><em>Star Formation Histories of Local Group Galaxies</em></p><span>Colloquium; University of Utah; Salt Lake City, UT; February 2014</span>
        </header>

        <header>
            <p><em>Star Formation Histories of Local Group Galaxies</em></p><span>Near Field-Deep Field Connection; UC Irvine; Irvine, CA; February 2014</span>
        </header>



        

       
    </article>
</section>